/* Write your CSS here  we pass props to tab item by using function component*/

.yes {
  outline: none;
  color: #2563eb;
  border: none;
  margin: 20px;
  background-color: #ffffff;
  text-decoration: underline;
  font-family: 'Caveat';
  font-size: 32px;
}
.no {
  color: #7b8794;
  outline: none;
  border: none;
  margin: 20px;
  font-family: 'Roboto';
  background-color: #ffffff;
}
